In [38]:
import esm
import torch

### -1. Convert into numerical clusters (experimental):

In [77]:
# clustersAlphabetical = ['A', 'B', 'C', 'D', 'A', 'B', 'D', 'E']

clustersAlphabetical = ['D', 'A', 'B', 'C', 'A', 'A', 'A', 'C', 'C', 'A', 'B',
                        'C', 'C', 'C', 'C', 'D']

In [78]:
clustersNumerical = []

In [79]:
lookupTable = {}

In [80]:
C=0 #cluster counter
for cluster in clustersAlphabetical:
    # print(cluster)
    if cluster not in lookupTable:
        lookupTable[cluster]=C
        clustersNumerical.append(C)
        C+=1
    else:
        clustersNumerical.append(lookupTable[cluster])

In [81]:
lookupTable

{'D': 0, 'A': 1, 'B': 2, 'C': 3}

In [82]:
clustersNumerical

[0, 1, 2, 3, 1, 1, 1, 3, 3, 1, 2, 3, 3, 3, 3, 0]

#### 1. Real Cluster headers:

In [83]:
datasetLocation = 'astral-SCOPe-K192.fa'

In [84]:
# C=1
superfamilies = []
seqIDs = []
for header, _seq in esm.data.read_fasta(datasetLocation):
    seqIDs.append(header.split()[0][1:])
    superfamily = '.'.join(header.split()[1].split('.')[0:-1])
    superfamilies.append(superfamily)
    
    # if C==10: break
    # C+=1
#end-for

In [85]:
# seqIDs #['d1ux8a_', 'd1dlwa_', 'd1dlya_',...]

In [86]:
# superfamilies # ['a.1.1', 'a.1.1', 'a.1.1', 'a.1.1', 'a.1.1', 'a.1.1',

In [87]:
clustersAlphabetical = superfamilies

In [88]:
superfamilies[:10]

['a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1']

In [89]:
clustersAlphabetical[0:10]

['a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1']

In [90]:
seqIDs[:10]

['d1ux8a_',
 'd1dlwa_',
 'd1dlya_',
 'd2gkma_',
 'd1ngka_',
 'd1s69a_',
 'd5v3ta_',
 'd2bkma_',
 'd4i0va_',
 'd2bmma_']

In [91]:
import numpy as np
np.save(arr=clustersAlphabetical, file='clustersAlphabetical')

In [92]:
clustersNumerical = []
lookupTable = {}

C=0 #cluster counter
for cluster in clustersAlphabetical:
    # print(cluster)
    if cluster not in lookupTable:
        lookupTable[cluster]=C
        clustersNumerical.append(C)
        C+=1
    else:
        clustersNumerical.append(lookupTable[cluster])

In [93]:
len(clustersNumerical)

24578

In [76]:
# C=1
# file = open(file='summaryTable.csv', mode='w')
# file.write(f'SCOPe IDs, original alphabetical clusters, original numerical clusters\n')
# originalLabels = []
# for seqID, alphabetical, numerical in zip(seqIDs, clustersAlphabetical, clustersNumerical):
#     # print(f'{seqID}, {alphabetical}, {numerical}')
#     file.write(f'{seqID}, {alphabetical}, {numerical}\n')
#     originalLabels.append(numerical)
#     # if C==10: break
#     # C+=1
# #end-file
# file.close()

In [94]:
C=1
file = open(file='summaryTable.csv', mode='w')
file.write(f'SCOPe-IDs, original-alphabetical-clusters\n')
originalLabels = []
for seqID, alphabetical, numerical in zip(seqIDs, clustersAlphabetical, clustersNumerical):
    # print(f'{seqID}, {alphabetical}, {numerical}')
    file.write(f'{seqID}, {alphabetical}\n')
    # if C==10: break
    # C+=1
#end-file
file.close()

In [95]:
import numpy as np
import pandas as pd

In [96]:
# np.save(arr=originalLabels, file='originalLabels')

In [97]:
# !ls *.npy

In [98]:
!ls *.csv

lookupTable.csv  summaryTable.csv

In [99]:
D = pd.read_csv('summaryTable.csv')
D

      SCOPe-IDs  original-alphabetical-clusters
0       d1ux8a_                           a.1.1
1       d1dlwa_                           a.1.1
2       d1dlya_                           a.1.1
3       d2gkma_                           a.1.1
4       d1ngka_                           a.1.1
...         ...                             ...
24573   d2e6sa1                          g.50.1
24574   d2yqla1                          g.50.1
24575   d1z2qa1                          g.50.1
24576   d6vfoa_                          g.50.1
24577   d2rsda1                          g.50.1

[24578 rows x 2 columns]