In [1]:
import esm
import torch

### -1. Convert into numerical clusters (experimental):

In [16]:
# clustersAlphabetical = ['A', 'B', 'C', 'D', 'A', 'B', 'D', 'E']

clustersAlphabetical = ['D', 'A', 'B', 'C', 'A', 'A', 'A', 'C', 'C', 'A', 'B',
                        'C', 'C', 'C', 'C', 'D']

In [17]:
clustersNumerical = []

In [18]:
lookupTable = {}

In [19]:
C=0 #cluster counter
for cluster in clustersAlphabetical:
    # print(cluster)
    if cluster not in lookupTable:
        lookupTable[cluster]=C
        clustersNumerical.append(C)
        C+=1
    else:
        clustersNumerical.append(lookupTable[cluster])

In [20]:
lookupTable

{'D': 0, 'A': 1, 'B': 2, 'C': 3}

In [14]:
clustersNumerical

[0, 1, 2, 3, 1, 1, 1, 3, 3, 1, 2, 3, 3, 3, 3, 0]

#### 1. Real Cluster headers:

In [21]:
datasetLocation = 'astral-SCOPe-K192.fa'

In [22]:
# C=1
superfamilies = []
seqIDs = []
for header, _seq in esm.data.read_fasta(datasetLocation):
    seqIDs.append(header.split()[0][1:])
    superfamily = '.'.join(header.split()[1].split('.')[0:-1])
    superfamilies.append(superfamily)
    
    # if C==10: break
    # C+=1
#end-for

In [24]:
# seqIDs #['d1ux8a_', 'd1dlwa_', 'd1dlya_',...]

In [27]:
# superfamilies # ['a.1.1', 'a.1.1', 'a.1.1', 'a.1.1', 'a.1.1', 'a.1.1',

In [28]:
clustersAlphabetical = superfamilies

In [39]:
superfamilies[:10]

['a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1']

In [32]:
clustersAlphabetical[0:10]

['a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1',
 'a.1.1']

In [130]:
seqIDs[:10]

['d1dlwa_',
 'd2gkma_',
 'd1ngka_',
 'd2bkma_',
 'd4i0va_',
 'd1asha_',
 'd2dc3a_',
 'd4hswa_',
 'd1ecaa_',
 'd1x9fd_']

In [42]:
clustersNumerical = []
lookupTable = {}

C=0 #cluster counter
for cluster in clustersAlphabetical:
    # print(cluster)
    if cluster not in lookupTable:
        lookupTable[cluster]=C
        clustersNumerical.append(C)
        C+=1
    else:
        clustersNumerical.append(lookupTable[cluster])

In [62]:
C=1
file = open(file='summaryTable.csv', mode='w')
file.write(f'SCOPe IDs, original alphabetical clusters, original numerical clusters\n')
originalLabels = []
for seqID, alphabetical, numerical in zip(seqIDs, clustersAlphabetical, clustersNumerical):
    # print(f'{seqID}, {alphabetical}, {numerical}')
    file.write(f'{seqID}, {alphabetical}, {numerical}\n')
    originalLabels.append(numerical)
    # if C==10: break
    # C+=1
#end-file
file.close()

In [63]:
import numpy as np
import pandas as pd

In [64]:
np.save(arr=originalLabels, file='originalLabels')

In [65]:
!ls *.npy

originalLabels.npy  Xb-35667.npy  Xv-35667.npy

In [66]:
!ls *.csv

summaryTable.csv

In [67]:
D = pd.read_csv('summaryTable.csv')
D

      SCOPe IDs  original alphabetical clusters   original numerical clusters
0       d1ux8a_                           a.1.1                             0
1       d1dlwa_                           a.1.1                             0
2       d1dlya_                           a.1.1                             0
3       d2gkma_                           a.1.1                             0
4       d1ngka_                           a.1.1                             0
...         ...                             ...                           ...
24573   d2e6sa1                          g.50.1                           191
24574   d2yqla1                          g.50.1                           191
24575   d1z2qa1                          g.50.1                           191
24576   d6vfoa_                          g.50.1                           191
24577   d2rsda1                          g.50.1                           191

[24578 rows x 3 columns]